* {
    color: #312533;
}
/* ----------------- MENU BAR ----------------------------*/
nav {
    height: auto;
    padding: 20px;
    margin-bottom: 5px;
}
.publicInstitution, securityInstitution{
    padding: 30px;
}

 ovRanking {
     font-size: 10em;
 }
 .brand-logo img {
     max-width: 100%;
     height: auto;
 }
 table {
     font-size: 1.25rem;
 }
 .center {
     text-align: center;
 }
 .responsiveTable{
     overflow-x:auto;
     overflow-y: auto;
 }
 /* STOPS THE COLOR CODE FROM REACHING THE FOOTER */
 /* MODIFIED FROM https://codepen.io/jovanivezic/pen/ZQNdag */
 #content{
    height: auto;
    position:relative;
}
#colorCode{
    float:right;
}
#footer {
    background:blue;
    height:200px;
}
.fixedt{
    position:fixed;
    width: 25%;
    top:200px;
    right:0;
}

.bottomd{
    top:auto;
    bottom:400px;
    position:absolute;
}
#colorCode img, #colorCodes img {
    width: 100%;
}
/*-------------------------------------------------------------------*/
.first {
    border-right: 1px solid black;
}
.cardCenter {
    display: block;
    margin: 0 auto;
}                                      

.institutionName{
    text-align: center;
}
.cardWidth {
    max-width: 600px;
    display: block;
    margin: 10px auto;
}

.rankParameters a {
margin: 0 10px;
}    
.institutionName{
    text-align: center;
}
.cardWidth {
    max-width: 600px;
    display: block;
    margin: 10px auto;
}

.rankParameters a {
margin: 0 10px;
}
.step {
    margin: 10px 0;
   /* min-height: 100px; */
}
#param {
    display: none;
}
.chart {
    margin: 20px;
}
.chartSwitch {
    padding: 10px;
}
#showSwitch {
display: none;
}
#pieChart {
    display: none;
}
.selecSize{
    width: 20%;
}
ol li {
    margin: 10px 10px;
}
li a {
    margin-right: 15px;
}
.space {
    margin: 30px 0;
}
body {
    background-image: url(../FrontEnd/images/background/dust_@2X.png);
}
/*.container {
    background-color: white;
}
*/
.card-panel{
    background-color: transparent;
    border: 1px solid #FF5733;
    color: #4B0553;
}
.positionJumbo {
    font-size: 4.375em;
}
p a {
    cursor: pointer;
}
nav {
    background-color:  rgba(4,175,249, 0.7)
}
nav .nav-wrapper li a {
    color: #312533;
}
footer.page-footer {
    background-color: #D9F1FC;
}
h4.page-title {
    padding: 20px;
    margin: 20px;
}
.partners a{
    cursor: pointer;
}
li.collection-item.avatar {
    background-color: transparent;
}
.comparison .card-panel {
    border: none;
    color: #312533
}
.nav-wrapper a.breadcrumb {
    color: #312533;
}
.tabs .indicator {
    background-color:#3E3736 !important;
}
.blue-text {
  color: #312533 !important;
}
.input-field input[type=search]:focus {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: #444;
}
#submit {
    display: none;
}
.backdrop {
    background-color: transparent;
}
.partners#omidyar img{
width: 50%;
}