.margin-top {
    margin-top: 150px;
}
body, .modal .modal-content{
    background-image: url(../images/background/food.png)
}
nav .input-field {
    background-color: transparent;
}
.collection a.collection-item {
    background-color: transparent;
}
.collection li.collection-item, .collection ul.collection.with-header{
    background-color: transparent;
}
#public-sector {
    display: none;
}
nav .nav-wrapper {
    background-color: #11023B;
}
.modal, .modal .modal-footer {
    background-color: #11023B;
    color: #fff;
}
.modal .modal-header {
    padding: 15px;
}
.modal .modal-header span {
    background-color: transparent;
    margin: 0;
}